.header-left
  = link_to root_path do
    %i.fab.fa-wikipedia-w
  .prof Profile
  .prof Access
  .prof GitHub
  .app -Made Application-
  = link_to beat_tops_path, class: "make-app" do
    韻strumental
  .make-app PEACE fitness
