.header-left
  %i.fab.fa-wikipedia-w
  = link_to root_path, class: "prof" do
    Home
  .prof Profile
  .prof Access
  .prof GitHub
  .app -Made Application-
  = link_to beat_tops_path, class: "make-app" do
    韻strumental
  = link_to peace_tops_path, class: "make-app" do
    PEACE fitness
