.wrapper
  .header-beat
    .beat-title
      .title 韻strumental
      .sub -Made Application-
      .sub URL
      = link_to "https://findbeat.herokuapp.com/", class: "url" do
        https://findbeat.herokuapp.com/
  = render partial: 'side'
    