.wrapper
  .header-beat
    .beat-title
      .title 韻strumental
      .sub -Made Application-
      .sub URL
      = link_to "https://findbeat.herokuapp.com/", class: "url" do
        https://findbeat.herokuapp.com/
    .contents
      .contents__list ・Overview
      .sentences 「自分のお気に入りのトラックメーカーを見つけたい。自分の評価しているトラックメーカーの方にビートを作ってもらいたい」と言う希望にお答えした、HipHop,Reggae専用のトラックミュージックサイトです。
      .contents__list ・Function
      .sentences ユーザー登録時にJob Request欄にご自身の仕事依頼先を記入。 いいね機能では自分の気になるトラックメーカーのビートのみをいいね一覧に保存できる。 トピック機能でカテゴリー別に新規投稿6曲までトピックされる。 マイページにお好みのアイコンと背景画像を設定出来る。投稿時にお好みの画像を設定できる。
      .contents__list ・Creation period
      .sentences 07/18~08/04, 08/21~08/22, 08/25~08/26 
      .contents__list ・Repository
      = link_to "https://github.com/bian160928/blog", class: "sentences" do
        https://github.com/bian160928/blog
      .contents__list ・Other
      .sentences 音楽投稿サイトですが、著作権などの関係もありバケットは作成せずに一つのポートフォリオとして活用する予定ですので、 投稿していただいた写真と音楽は数分後に自動的に消去されます。
  = render partial: 'side'