.wrapper
  .header-peace
    .peace-title
      .title PEACE fitness
      .sub -Made Application-
      .sub URL
      = link_to "https://peaceness.herokuapp.com/", class: "url" do
        https://peaceness.herokuapp.com/
  = render partial: 'side'