.wrapper
  .header-peace
    .peace-title
      .title PEACE fitness
      .sub -Made Application-
      .sub URL
      = link_to "https://peaceness.herokuapp.com/", class: "url" do
        https://peaceness.herokuapp.com/
    .contents
      .contents__list ・Overview
      .contents__list ・Creation period
      .sentences 08/23~08/25
      .contents__list ・Repository
      = link_to "https://github.com/bian160928/peace", class: "sentences" do
        https://github.com/bian160928/peace
      .contents__list ・Other
  = render partial: 'side'