.wrapper
  .header-peace
    .peace-title
      .title PEACE fitness
      .sub -Made Application-
      .sub URL
      = link_to "https://peaceness.herokuapp.com/", class: "url" do
        https://peaceness.herokuapp.com/
    .contents
      .contents__list ・Overview
      .sentences 私の友人が運営するパーソナルジムのWebサイトです。クライアントが見やすくシンプルに、そして主に女性客向けに作って欲しいとの友人の要望にお答えできるように作成させていただきました。注目点を友人からいくつか挙げられその注目点にクライアントが出来るだけ目が向きやすいように心がけました。
      .contents__list ・Language used
      .sentences Haml/Scss/Ruby on Rails
      .contents__list ・Function
      .sentences 
        %ul
          %li ・ワンタッチで予約の電話、Instagram、GoogleMapに移行する機能
          %li ・バナーから見たい項目にスライド移動機能
      .contents__list ・Creation period
      .sentences 08/23~08/25
      .contents__list ・Media
      .sentences 対応機種 iPhone/スマートフォン/iPad/タブレット
      .contents__list ・Repository
      = link_to "https://github.com/bian160928/peace", class: "sentences" do
        https://github.com/bian160928/peace
      .contents__list ・Other
      .sentences サイト運営側からの投稿機能などは友人に聞いたところ不必要との事だったので作成しておりません。 
  = render partial: 'side'