.wrapper
  .header-prof
    .prof-title
      .title Profile
    .contents
      .list 名前 : 小林 敏晏(ビアン)
      .list 生年月日 : 1996年 10月 09日(23歳)
      .list 出身 : 兵庫県神戸市(現在も在住)
      .list 学歴 : 北星学園余市高等学校(北海道)
      .list 業界経験 : 未経験
      .list 学習歴 : 2020/05/15 ~
      .list2 TECH CAMP 80期卒(06/22 ~ 08/31)
      .list 学習言語 : HTML5/Css3/Haml/Scss/jQuery/Ruby/Ruby on Rails
      .list エンジニアへの志望動機 :
      .list2 単純に「ハマるもの」に変わりました。元々は遊び半分で始めたプログラミングですが、学習を重ねていくにつれ初めて取り組む実装でも「実装が成功した時の快感」に喜びを覚え、寝食の時間も忘れるほどのめり込んでいます。 これだけ夢中になれるエンジニアという仕事に憧れを抱き日々、転職活動に勤しんでおります。
  = render partial: 'side'