.header-access {
  background-image: url("car.jpg");
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  .access-title {
    position: absolute;
    right: 60px;
    top: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      color: white;
      text-shadow: 0 0 9px rgba(0,0,0,0.4);
      font-size: 55px;
      font-family: serif;
      letter-spacing: 10px;
      position: relative;animation: fadeIn 2s ease 0s 1 normal;
      -webkit-animation: fadeIn 2s ease 0s 1 normal;
    }
  }
  .contents-top {
    position: absolute;
    top: 70px;
    left: 535px;
    .center {
      width: 580px;
      height: 380px;
      opacity: 0.9;
      position: relative;animation: fadeIn2 2.5s ease 0s 1 normal;
      -webkit-animation: fadeIn2 2.5s ease 0s 1 normal;
      transition: all  1s ease;
      &:hover {
        opacity: 1;
      }
      .fab {
        color: white;
        font-size: 35px;
        position: absolute;
        top: 168px;
        left: 200px;
        text-shadow: 0 0 9px rgba(0,0,0,0.9);
      }
      .git {
        text-decoration: none;
        position: absolute;
        top: 160px;
        left: 240px;
        color: white;
        font-size: 35px;
        font-family: serif;
        text-shadow: 0 0 9px rgba(0,0,0,0.9);
      }
    }
  }
  .contents-bottom {
    position: absolute;
    top: 500px;
    left: 420px;
    display: flex;
    .left {
      width: 320px;
      height: 430px;
      opacity: 0.9;
      position: relative;animation: fadeIn2 2.5s ease 0s 1 normal;
      -webkit-animation: fadeIn2 2.5s ease 0s 1 normal;
      transition: all  1s ease;
      &:hover {
        opacity: 1;
      }
      .fab {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 195px;
        left: 85px;
        text-shadow: 0 0 9px rgba(0,0,0,0.4);
        opacity: 0.8;
      }
      .twitter {
        position: absolute;
        top: 190px;
        left: 120px;
        color: white;
        text-decoration: none;
        font-size: 30px;
        text-shadow: 0 0 9px rgba(0,0,0,0.4);
        font-family: serif;
        opacity: 0.8;
      }
    }
    .right {
      width: 320px;
      height: 430px;
      opacity: 0.9;
      margin-left: 90px;
      position: relative;animation: fadeIn2 2.5s ease 0s 1 normal;
      -webkit-animation: fadeIn2 2.5s ease 0s 1 normal;
      transition: all  1s ease;
      &:hover {
        opacity: 1;
      }
      .fas {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 195px;
        left: 196px;
        text-shadow: 0 0 9px rgba(0,0,0,0.9);
        opacity: 0.8;
      }
      .blog {
        position: absolute;
        top: 190px;
        left: 230px;
        color: white;
        text-decoration: none;
        font-size: 30px;
        text-shadow: 0 0 9px rgba(0,0,0,0.9);
        font-family: serif;
        opacity: 0.7;
      }
    }
  }
  @keyframes fadeIn2 {
    0% {opacity: 0}
    100% {opacity: 0.9}
  }

  @-webkit-keyframes fadeIn2 {
    0% {opacity: 0}
    100% {opacity: 0.9}
  }
}