.header-beat {
  background-image: url("flower.jpeg");
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  .beat-title {
    position: absolute;
    right: 60px;
    top: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      color: white;
      text-shadow: 0 0 9px rgba(0,0,0,0.4);
      font-size: 55px;
      font-family: serif;
      letter-spacing: 10px;
      background-color: rgba(0, 0, 255, 0.3);
      padding-left: 3px;
      position: relative;animation: fadeIn 2s ease 0s 1 normal;
      -webkit-animation: fadeIn 2s ease 0s 1 normal;
    }
    .sub {
      font-size: 20px;
      color: white;
      text-shadow: 0 0 9px rgba(0,0,0,0.4);
      padding-top: 30px;
      font-family: serif;
      text-align: center;
      position: relative;animation: fadeIn 2s ease 0s 1 normal;
      -webkit-animation: fadeIn 2s ease 0s 1 normal;
    }
    .url {
      color: white;
      text-shadow: 0 0 9px rgba(0,0,0,0.4);
      width: 320px;
      font-size: 20px;
      font-family: serif;
      text-align: center;
      display: block;
      position: relative;animation: fadeIn 2s ease 0s 1 normal;
      -webkit-animation: fadeIn 2s ease 0s 1 normal;
      transition: all  0.3s ease;
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
  .contents {
    position: absolute;
    left: 350px;
    top: 120px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &__list {
      color: white;
      font-size: 23px;
      font-family: serif;
      text-shadow: 0 0 9px rgba(0,0,0,0.9);
      position: relative;animation: fadeIn 2s ease 0s 1 normal;
      -webkit-animation: fadeIn 2s ease 0s 1 normal;
    }
    .sentences {
      font-size: 16px;
      color: white;
      padding-left: 35px;
      font-family: serif;
      text-shadow: 0 0 9px rgba(0,0,0,0.9);
      width: 500px;
      padding-bottom: 15px;
      position: relative;animation: fadeIn 3s ease 0s 1 normal;
      -webkit-animation: fadeIn 3s ease 0s 1 normal;
      transition: all  0.1s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 18px;
        width: 570px;
        padding: 5px;
      }
    }
  }
}