.header-peace {
  background-image: url("adult.jpg");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  .peace-title {
    position: absolute;
    right: 60px;
    top: 420px;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      color: white;
      text-shadow: 0 0 9px rgba(0,0,0,0.4);
      font-size: 55px;
      font-family: serif;
      letter-spacing: 10px;
      background-color: rgba(255,238,1,0.4);
      padding-left: 3px;
    }
    .sub {
      font-size: 20px;
      color: white;
      text-shadow: 0 0 9px rgba(0,0,0,0.4);
      margin-top: 30px;
      font-family: serif;
      text-align: center;
    }
    .url {
      color: white;
      text-shadow: 0 0 9px rgba(0,0,0,0.4);
      font-size: 20px;
      width: 340px;
      font-family: serif;
      text-align: center;
      display: block;
      transition: all  0.3s ease;
      &:hover {
        background-color: rgba(150, 147, 147, 0.2);
      }
    }
  }
  .contents {
    position: absolute;
    left: 350px;
    top: 120px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    &__list {
      color: white;
      font-size: 23px;
      font-family: serif;
      text-shadow: 0 0 9px rgba(0,0,0,0.7);
    }
    .sentences {
      font-size: 16px;
      color: white;
      margin-left: 35px;
      text-shadow: 0 0 9px rgba(0,0,0,0.7);
      font-family: serif;
      margin-bottom: 15px;
      width: 500px;
      transition: all  0.1s ease;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 18px;
        width: 570px;
        padding: 5px;
      }
    }
  }
}