* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  .header {
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-image: url("sea.jpg");
    .header-left {
      width: 260px;
      height: 100vh;
      border-right: 1px solid whitesmoke;
      display: flex;
      align-items: center;
      flex-direction: column;
      .fab {
        font-size: 120px;
        padding-top: 40px;
        color: white;
        margin-bottom: 180px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      .prof {
        font-size: 20px;
        color: white;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-family: serif;
      }
      .app {
        margin-top: 180px;
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-family: serif;
      }
      .make-app {
        color: white;
        font-size: 15px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-family: serif;
      }
    }
    .header-right {
      position: absolute;
      right: 60px;
      top: 420px;
      .title {
        color: white;
        text-shadow: 0 0 9px rgba(0,0,0,0.4);
        font-size: 55px;
        font-family: serif;
        letter-spacing: 10px;
      }
      .sub {
        font-size: 20px;
        color: white;
        text-shadow: 0 0 9px rgba(0,0,0,0.4);
        margin-top: 30px;
        font-family: serif;
        text-align: center;
      }
    }
  }
}
