* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  .header {
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-image: url("sea.jpg");
    .header-right {
      position: absolute;
      right: 60px;
      top: 420px;
      .title {
        color: white;
        text-shadow: 0 0 9px rgba(0,0,0,0.4);
        font-size: 55px;
        font-family: serif;
        letter-spacing: 10px;
        position: relative;animation: fadeIn 2s ease 0s 1 normal;
        -webkit-animation: fadeIn 2s ease 0s 1 normal;
      }
      .sub {
        font-size: 20px;
        color: white;
        text-shadow: 0 0 9px rgba(0,0,0,0.4);
        margin-top: 30px;
        font-family: serif;
        text-align: center;
        position: relative;animation: fadeIn 2s ease 0s 1 normal;
        -webkit-animation: fadeIn 2s ease 0s 1 normal;
      }
    }
  }
  .header-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    border-right: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    .fab {
      font-size: 120px;
      padding-top: 40px;
      color: white;
      margin-bottom: 180px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    .prof {
      font-size: 20px;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-family: serif;
      text-decoration: none;
      transition: all  0.3s ease;
      padding-left: 2px;
      padding-right: 2px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.4);
        padding: 2px;
      }
    }
    .app {
      margin-top: 180px;
      font-size: 20px;
      color: white;
      margin-bottom: 10px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-family: serif;
    }
    .make-beat {
      color: white;
      font-size: 15px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-family: serif;
      text-decoration: none;
      transition: all  0.3s ease;
      &:hover {
        background-color: rgba(0, 0, 255, 0.3);
        padding: 3px 6px;
      }
    }
    .make-peace {
      color: white;
      font-size: 15px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-family: serif;
      text-decoration: none;
      transition: all  0.3s ease;
      &:hover {
        background-color: rgba(255,238,1,0.4);
        padding: 2px; 
      }
    }
  }
  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }
}
